.tools_header {
    cursor: move;
    display: block;
    border-radius: 5px;
    padding: 5px;
    background-color: #eeeeee;
    position: absolute;
    top: 150px;
    left: 1200px;
    width: 150px;
    text-align: center;
    font-weight: bold;
    z-index: 99;
}

.tools {
    padding: 7px;
    border-radius: 5px;
    display: none;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    background-color: rgba(152, 222, 255, 0.911);
}

.menu_item {
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 5px;
    width: 190px;
    color: black;
    background-color: #eee;
    border: 1px solid #aaa;
}

.menu_item:hover {
    border: 1px outset #aaa;
    background-color: #bbb;
}