.tools_header {
    cursor: move;
    display: block;
    border-radius: 5px;
    padding: 3px;
    background-color: #eeeeee;
    position: absolute;
    top: 150px;
    left: 1200px;
}

.tools {
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(83, 169, 63, 0.5);
}

.tools:hover {
    background-color: rgb(83, 169, 63, 0.9);
    width: 150px;
    height: 250px;
    transition: all .3s linear;
}